<nav>
    <div class="site-title">
        <a href="/"></a>
        <p>My blogs</p>
    </div>
    <ul>
        <li><a href="/">blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create Post</a></li>
    </ul>
</nav>