<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>We provide qaulity writings</p>
        <p>Wew</p>
        <p>now read them biaby</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>